<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
</head>
<body>
    <h1>Welcome to EJS asdcadfc</h1>
    <form method="POST" action="/name/post">
        <label>User Name</label>
        <input type="text" placeholder="enter name" name="name"/>
        <button type="submit">Send</button>
    </form>
</body>
</html>